<ion-view id="my">
    <ion-content class="light-border my-light-border">
        <a href="#" class="img"><img src="images/my-lindex_02.jpg"/></a>
        <div class="list">
            <div class="item item-icon-left item-icon-right">
                <a href="#" style="color:#6b6b6b;" class="my-list-a">
                    <div class="icon ion-ios-personadd-outline my-list-a1 my-list-aa"></div>
                    <i>登录/注册</i>
                    <div class="icon ion-chevron-right my-list-a2"></div>
                </a>
            </div>
            <div class="item item-icon-left item-icon-right">
                <a href="#" class="my-list-a">
                    <div class="icon ion-chatboxes my-list-a1 my-list-ab"></div>
                    <i>消息中心</i>
                    <div class="icon ion-chevron-right  my-list-a2"></div>
                </a>
            </div>
            <div class="item item-icon-left item-icon-right">
                <a href="#" class="my-list-a">
                    <div class="icon ion-ios-list-outline my-list-a1 my-list-ac"></div>
                    <i>个人主页</i>
                    <div class="icon ion-chevron-right my-list-a2"></div>
                </a>
            </div>
            <div class="item item-icon-left item-icon-right" style="margin: 10px 0;">
                <a href="#"  class="my-list-a">
                    <div class="icon ion-ios-gear-outline my-list-a1 my-list-ad"></div>
                    <i>基本设置</i>
                    <div class="icon ion-chevron-right  my-list-a2"></div>
                </a>
            </div>
            <div class="item item-icon-left item-icon-right">
                <a href="#" class="my-list-a">
                    <div class="icon ion-android-checkbox-outline my-list-a1 my-list-ae"></div>
                    <i>满意度调查</i>
                    <div class="icon ion-chevron-right my-list-a2"></div>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
