<ion-view style="background: #ddd" id="encyclopedia">
    <ion-header-bar  align-title="center">
        <div style="width:100%;background-attachment: fixed;">
            <div class="hea">
                <a class="hea-a" href="#"><i class="icon ion-ios-search-strong"></i>搜索百科</a>
            </div>
        </div>
    </ion-header-bar>
    <ion-content direction="y">
        <div class="content-a">
            <p>百科今日关注</p>
            <a href="#"><img src="images/encyclopedia-index_03.jpg" style="width:100%"/></a>
            <a href="#" class="item item-icon-left encyclopedia-item item-text-wrap">
                <img src="images/encyclopedia-icon_03.jpg" style="float:left"/>
                    <h3>睡眠不足</h3><br/>
                    <span>会带来思考能力下降、警觉力和判断力削弱、免疫功能失调等等</span>
            </a>
            <a href="#" class="item item-icon-left encyclopedia-item item-text-wrap">
                <img src="images/encyclopedia-icon_06.jpg" style="float:left"/>
                    <h3>睡眠障碍</h3><br/>
                    <span>表现为睡眠量不正常以及睡眠中出现异常行为……</span>
            </a>
            <a href="#" class="item item-icon-left encyclopedia-item item-text-wrap">
                <img src="images/encyclopedia-icon_08.jpg" style="float:left"/>
                    <h3>视交叉上核</h3><br/>
                    <span>哺乳动物的昼夜节律起搏器，调整着哺乳动物生理行为和活动</span>
            </a>
        </div>
        <div class="clear"></div>
        <div class="never">
            <p style="height:30px;line-height:30px;margin: 0;">未曾了解的趣味</p>
            <a href="#">
                <img src="images/never-icon_03.jpg"/>
                <h3>在这么“葛优瘫”下去，你真的就成废人了</h3>
            </a>
            <div class="clear"></div>
            <a href="#">
                <img src="images/shuiguo_03.jpg"/>
                <h3>多吃水果能减肥？这些减肥规则迷惑人</h3>
            </a>
            <div class="clear"></div>
            <a href="#">
                <img src="images/never-icon_09.jpg"/>
                <h3>约还是不约，是个大问题</h3>
            </a>
            <div class="clear"></div>
            <a href="#">
                <img src="images/never-icon_10.jpg"/>
                <h3>为什么你玩手机停不下来</h3>
            </a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </ion-content>
</ion-view>