<ion-tabs class="tabs-striped ">
    <ion-tab title="词典"  ui-sref="tabs.dictionary">
        <ion-nav-view name="tab-dictionary"></ion-nav-view>
    </ion-tab>

    <ion-tab title="百科" ui-sref="tabs.encyclopedia">
        <ion-nav-view name="tab-encyclopedia"></ion-nav-view>
    </ion-tab>

    <ion-tab title="翻译" ui-sref="tabs.translation">
        <ion-nav-view name="tab-translation"></ion-nav-view>
    </ion-tab>

    <ion-tab title="发现" ui-sref="tabs.found">
        <ion-nav-view name="tab-found"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" ui-sref="tabs.my">
        <ion-nav-view name="tab-my"></ion-nav-view>
    </ion-tab>

</ion-tabs>